<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/afb6c7ba62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css" >
    <title>task 1st</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="./index.html"><h1>CompWallah</h1></a>
        </div>
        <div class="navBar">
                <ul>
                    <li><a href="#bodyPart"><b>HOME</b></a></li>
                    <li><a href="#about"><b>ABOUT US</b></a></li>
                    <li><a href="#contact"><b>CONTACT</b></a></li>
                    <li><a href="#dataProject"><b>PROJECTS</b></a></li>
                    <li><a href="#services"><b>SERVICES</b></a></li>
                </ul>
        </div>
    </div>
    <div class="bodyPart" id="bodyPart">
        <div class="data">
            <h1> <span>Welcome</span> To <span>COMPWALLAH</span></h1>
            <h1>YOUR TRUSTED PARTNER IN</h1>
            <h1><span>SOFTWARE DEVELOPMENT</span></h1>
            <h1><span>& IT SERVICES</span></h1>
        </div>
        <div class="btn">
            <button>Internship</button>
            <button>contact Us</button>
        </div>
    </div>
    <div class="about" id="about">
        <h1>About Us</h1>
        <div class="box">
            <div class="data">
            <h2>Providing Top-Notch Software Solutions and IT Services</h2>
            <p>At CompWallah, we are committed to delivering cutting-edge software solutions and comprehensive IT services to empower businesses and organizations in their digital journey. With a focus on innovation, quality, and customer satisfaction, we strive to be your trusted technology partner.</p>
        </div>
        <div class="image">
            <img src="../image/1.png" alt="images">
        </div>
        </div>
        </div>
    <div class="services" id="services">
        <h1>Our Services | We Provide</h1>
        <div class="section1">
            <div class="sBox">
                <h3>Custom Software Development</h3>
                <p>From concept to implementation, we specialize in bringing your vision to life through tailored software solutions that cater specifically to your business requirements.</p>
            </div>
            <div class="sBox">
                <h3>IT Consulting</h3>
                <p>Navigate the complex IT landscape with confidence. Our experienced consultants provide strategic guidance to help you make informed technology decisions.</p>
            </div>
            <div class="sBox">
                <h3>Cloud Solutions</h3>
                <p>Harness the power of the cloud to enhance scalability, flexibility, and security. Our cloud solutions are designed to optimize your business operations.</p>
            </div>
        </div>
        <div class="section1">
            <div class="sBox">
                <h3>Web Development</h3>
                <p>Create a powerful online presence with our expert web development services. We specialize in building responsive, user-friendly, and scalable websites and management portal.</p>
            </div>
            <div class="sBox">
                <h3>Mobile App Development</h3>
                <p>Reach your audience on the go with our custom mobile app development services. We develop engaging and intuitive applications for iOS and Android platforms.</p>
            </div>
            <div class="sBox">
                <h3>Fully Secured</h3>
                <p>Our team of certified cybersecurity professionals is dedicated to staying ahead of the curve, implementing advanced measures to fortify your systems against cyber threats.</p>
            </div>
        </div>
    </div>
<div class="dataProject" id="dataProject">
        <div class="dataBox">
            <h2>107</h2>
            <p>Active Clients</p>
        </div>
        <div class="dataBox">
            <h2>12K+</h2>
            <p>Visitor Count</p>
        </div>
        <div class="dataBox">
            <h2>73</h2>
            <p>Clients Reviews</p>
        </div>
    </div>

    <div class="services" id="services">
        <h1>Why Choose CompWallah</h1>
        <div class="section1">
            <div class="sBox">
                <h3>Innovation</h3>
                <p>CompWallah thrives on innovation, delivering cutting-edge solutions that elevate your business above the ordinary and keep it ahead of the curve.</p>
            </div>
            <div class="sBox">
                <h3>Client-Centric Approach</h3>
                <p>Your success is our priority. We work closely with you to understand your goals, challenges, and vision, tailoring our services accordingly.</p>
            </div>
            <div class="sBox">
                <h3>Reliability</h3>
                <p>Count on us for reliable and scalable solutions. We are committed to meeting deadlines and exceeding expectations</p>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <h1>Contact Us | Get In Touch!</h1>
        <p>Reach out to CompWallah - your partner in innovation and technology. Let's collaborate to turn your ideas into reality and drive your business to new heights.</p>
        <div class="form">
            <input type="text" placeholder="Your Good Name">
            <input type="text" placeholder="Your E-mail Id"><br />
            <input type="text" placeholder="Subject"><br>
            <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 150px;"></textarea><br>
            <button>Send Message</button>
        </div>
    </div>
    <div class="footer">
        <div class="fbox">
            <h2>Address</h2>
            <p><i class="fa-solid fa-location-dot"></i>  Chavli Chauk, Road No 4, Pune, Maharashtra, India</p>
            <p><i class="fa-solid fa-phone"></i>  +91 9403027293</p>
            <p><i class="fa-solid fa-at"></i>  contact@compwallah.com</p>
            <div class="ss">
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fcompwallah"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/public/compwallah"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/thecompwallah/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/company/thecompwallah"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="fbox">
            <h2>Popular Link</h2>
            <ul>
                <li><i class="fa-solid fa-circle-chevron-right"></i> Blogs</li>
                <li><i class="fa-solid fa-circle-chevron-right"></i> Internship</li>
                <li><i class="fa-solid fa-circle-chevron-right"></i> Terms & Condition</li>
                <li><i class="fa-solid fa-circle-chevron-right"></i> Contact Us</li>
            </ul>
        </div>
        <div class="fbox">
            <h2>Newsletter</h2>
            <p>Subscribe now for a dose of knowledge delivered straight to your inbox.</p>
            <input type="text" placeholder="Your E-mail Id">
        </div>
    </div>
    <div class="foot">
        <p>© CompWallah, All Right Reserved 2024</p>
    </div>
</body>
</html>